.second{
	background:black;
	padding:1rem;
	height:50rem;
	width:50rem;

}
.first{
	background:black;
	padding:1rem;
	height:50rem;
	width:50rem;

}
.third{
    
	padding:14rem;
	height:50rem;
	width:50rem;
	font-size:5rem;
	text-align:center;
	color:white;
	background-image:url('images/dishes.jpg');
	background-repeat: no-repeat;
	background-size:cover;
}